## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bilibino,RU,68.0546,166.4372,47.43,60,10,5.23,clear sky
1,1,Souillac,MU,-20.5167,57.5167,68.38,77,40,6.91,scattered clouds
2,2,Barrow,US,71.2906,-156.7887,39.22,87,100,3.44,overcast clouds
3,3,Geraldton,AU,-28.7667,114.6000,45.01,93,22,11.50,few clouds
4,4,Ushuaia,AR,-54.8000,-68.3000,35.26,75,20,8.05,few clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Rikitea,PF,-23.1203,-134.9692,75.00,80,24,15.14,few clouds
10,10,Khandbari,NP,27.3747,87.2039,72.37,88,100,0.13,overcast clouds
11,11,Denpasar,ID,-8.6500,115.2167,76.71,65,20,10.36,few clouds
14,14,Puerto Ayora,EC,-0.7393,-90.3518,78.76,87,53,7.00,broken clouds
15,15,Evanston,US,42.0411,-87.6901,85.17,75,100,11.50,overcast clouds
18,18,Vaini,TO,-21.2000,-175.2000,71.76,78,20,6.91,few clouds
19,19,Butaritari,KI,3.0707,172.7902,82.40,68,3,22.46,clear sky
20,20,Cockburn Town,TC,21.4612,-71.1419,82.36,74,40,12.66,scattered clouds
26,26,Sechura,PE,-5.5569,-80.8222,77.74,58,17,13.06,few clouds
30,30,Versalles,FR,48.8000,2.1333,89.01,41,0,6.91,clear sky

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                312
City                   312
Country                312
Lat                    312
Lng                    312
Max Temp               312
Humidity               312
Cloudiness             312
Wind Speed             312
Current Description    312
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# This was not a necessary step as the df has no missing values

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Rikitea,PF,75.00,few clouds,-23.1203,-134.9692,
10,Khandbari,NP,72.37,overcast clouds,27.3747,87.2039,
11,Denpasar,ID,76.71,few clouds,-8.6500,115.2167,
14,Puerto Ayora,EC,78.76,broken clouds,-0.7393,-90.3518,
15,Evanston,US,85.17,overcast clouds,42.0411,-87.6901,
18,Vaini,TO,71.76,few clouds,-21.2000,-175.2000,
19,Butaritari,KI,82.40,clear sky,3.0707,172.7902,
20,Cockburn Town,TC,82.36,scattered clouds,21.4612,-71.1419,
26,Sechura,PE,77.74,few clouds,-5.5569,-80.8222,
30,Versalles,FR,89.01,clear sky,48.8000,2.1333,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Rikitea,PF,75.00,few clouds,-23.1203,-134.9692,People ThankYou
10,Khandbari,NP,72.37,overcast clouds,27.3747,87.2039,Sainik Hotel And Lodge
11,Denpasar,ID,76.71,few clouds,-8.6500,115.2167,OYO 3156 Hotel Warta 2
14,Puerto Ayora,EC,78.76,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
15,Evanston,US,85.17,overcast clouds,42.0411,-87.6901,Hilton Garden Inn Chicago North Shore/Evanston
18,Vaini,TO,71.76,few clouds,-21.2000,-175.2000,Keleti Beach Resort
19,Butaritari,KI,82.40,clear sky,3.0707,172.7902,Isles Sunset Lodge
20,Cockburn Town,TC,82.36,scattered clouds,21.4612,-71.1419,Osprey Beach Hotel
26,Sechura,PE,77.74,few clouds,-5.5569,-80.8222,Hospedaje Costa Bella
30,Versalles,FR,89.01,clear sky,48.8000,2.1333,Waldorf Astoria Versailles - Trianon Palace

In [14]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))